<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" />
    <style>
      /* Place the entire CSS you provided here if you're embedding directly into HTML */
    </style>
  </head>
  <body>
    <header class="header">
      <section class="header">
        <ul class="header-nav">
          <li class="logo"><a href="/">AQTECH</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </section>
    </header>

    <main class="main">
      <section class="main-wrap">
        <!-- Right Div With Intro -->
        <section class="main-right">
          <h1>
            <span>Hello!</span>
            <br />
            I'm Professional Web Designer &<br />
            <span>and Web Developer</span>
          </h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
            voluptate molestiae quae quam magni placeat unde maiores aliquam
            pariatur amet architecto modi quasi, obcaecati impedit fugiat
            corrupti quo quod vero?
          </p>
          <button class="buttonhire" disabled="disabled">Hire Me</button>
          <button class="buttoncv" disabled="disabled">Download CV</button>
        </section>
        <!-- Left Div With pic -->
        <section class="main-left">
          <img src="../assets/images/pr.png" alt="Profile image" />
        </section>
      </section>

      <!-- About Section -->
      <section class="about">
        <div class="about-left">
          <h2><span>About Me</span></h2>

          <h1>
            Hello! I'm
            <span>Abdul Qadeer.</span>
            I'm Professional Web Designer and Web Developer &<span>
              freelancer</span
            >
          </h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero
            impedit voluptas officiis dolore quod aliquid adipisci asperiores
            commodi, labore, exercitationem natus. Eum aliquid delectus placeat
            consequuntur soluta ipsam officia quas unde?
          </p>
          <button class="buttonhire" disabled="disabled">Hire Me</button>
          <button class="buttoncv" disabled="disabled">Download CV</button>
        </div>
        <div class="about-right">
          <div class="row">
            <div class="col-6">
              <h3>Experience</h3>
              <p>5+ years in web development</p>
            </div>
            <div class="col-6">
              <h3>Skills</h3>
              <p>HTML, CSS, JavaScript, React</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <h3>Experience</h3>
              <p>5+ years in web development</p>
            </div>
            <div class="col-6">
              <h3>Skills</h3>
              <p>HTML, CSS, JavaScript, React</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer"></footer>
  </body>
</html>
